/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --done-with-exercise: #eb7be4;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}

/* Styling als ik de interactie heb afgerond */
.done-with-exercise {
  position: relative;
  background: var(--done-with-exercise);
  color: var(--secondary);
  border-color: var(--secondary);
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

/* Scale animation on the Frontend link */
.scale {
  animation-name: --scale;
  animation-duration: 1s;
}

@keyframes --scale {
  50% {
    scale: 1.3;
  }
}


/* TranslateY animation on the '&' link */
.translate-y {
  animation-name: --translate-y;
  animation-duration: 1s;
}

@keyframes --translate-y {
  25% {
    translate:0 -4em;
  }
  75% {
    translate: 0 4em;
  }
}


/* TranslateX animation on the 'Development' link */
.translate-x {
  animation-name: --translate-x;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes --translate-x {
  10%, 30%, 50%, 70%, 90% {
    translate: 1em 0;
  }
  20%, 40%, 60%, 80% {
    translate: -1em 0;
  }
}


/* Background-color animation on the 'Sprint 5' link */
.color-focus {
  animation-name: --color-focus;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
}

@keyframes --color-focus {
  25% {
    background-color: #2ED2FF;
  }
  50% {
    background-color: #EEFF00;
  }
  75% {
    background-color: #00FF37;
  }
}


/* Spin animation on the 'The' link */
.spin {
  animation-name: --spin;
  animation-duration: 0.5s;
}

@keyframes --spin {
  33% {
    transform: rotateY(1turn);
  }
  66% {
    transform: rotateX(1turn);
  }
}


/* Back- and frontflip animation on the 'Flow' link */
.back-flip {
  animation-name: --back-flip;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes --back-flip {
  100%{
    transform: rotateX(180deg)
  }
}

.front-flip {
  animation-name: --front-flip;
  animation-duration: 0.5s;
}

@keyframes --front-flip {
  0% {
    transform: rotateX(180deg)
  }
  100% {
    transform: rotateX(0)
  }
}

/* Inflate and deflate animation on the 'Interface' link while clicking on 'f' key*/
a[href="#interface"] {
  transition: 1s;
}

.blow-up-key {
  scale: 5;
}

